* {
    background-color: lightsteelblue;
}

body {
    margin: 0 auto;
    padding: 0.9em;
    max-width: 750px;
}

h1 {
    font-size: 150%;
    padding: 0.3em;
    color: red;
}

img {
    float: left;
    padding: 0.9em;
}

p {
    display: block;
    font-size: 120%;
    margin-block-start: 0.9em;
    margin-inline-start: 0px;
}
